import("rJava")
import("ropenphactslibs")
import("rrdf")
export(
  getOpenPHACTSConfig,
  mapUri,
  freetext,
  smiles2uri,
  pharmacologyCount, pharmacologyList,
  interactionsForEntityCount, interactionsForEntityList
)
